.btn-custom{

	background-color: #FA594E;

}

body{

background-color: white;

}

.cf-custom{
	
	background-color: #E5C5B6;
}

h1{

	color: #2A252C;
}

.oui{

	font-size : 90px;
}

.non{

	font-style : italic ;
	font-family: Cascadia Code; 
	color: #A10EA8;

}

.row {

	font-size: 45px;
}

.bp-1{

  background-color: #878284;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
}

h5{
	text-align: right;
	font-style: italic;
}

.image{

	right: 1500px;

}